<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- 3. API 32-（Android 12及以下/鸿蒙2.0-）：兼容传统权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <!--读取照片和视频 精细化媒体权限-->
    <!-- 1. API 33+（Android 13+/鸿蒙3.1+）：照片专属权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- 2. API 33+（Android 13+/鸿蒙3.1+）：视频专属权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
     <!--
        <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--第三方权限检查-->
        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <activity
            android:name="com.images.ui.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.images.ui.activity.me.media.MediaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.images.ui.activity.me.media.MediaOptActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.images.ui.activity.me.media.MediaPreviewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.images.ui.activity.me.media.ImgCropActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.images.ui.activity.camera.ImageDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.images.ui.activity.PdfActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.images.ui.activity.google.GoogleActivity"
            android:screenOrientation="portrait" />
        <!--  <activity
              android:theme="@style/DialogTheme"
              android:name="com.images.ui.activity.google.GoogleOptActivity"
              android:screenOrientation="portrait" />-->
        <activity
            android:name="com.images.ui.activity.google.GoogleOptActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme" />
    </application>

</manifest>