<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!--android api 33 分解此权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <!--读取照片和视频-->
    <!-- Devices running Android 13 (API level 33) or higher -->
    <!--<uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />-->
    <!-- To handle the reselection within the app on Android 14 (API level 34) -->
    <!--
        <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.images.ui.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.images.ui.activity.me.media.MediaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.images.ui.activity.me.media.MediaOptActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.images.ui.activity.me.media.MediaPreviewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.images.ui.activity.me.media.ImgCropActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.images.ui.activity.camera.ImageDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.images.ui.activity.PdfActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.images.ui.activity.google.GoogleActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>